@media only screen and (min-width:200px) and (max-width:575px){
    header{
        flex-direction: column;
        align-items: stretch;
        padding: 10px;
        gap: 15px;
    }

    .header-left{
        justify-content: center;
    }

    .header-address p{
        font-size: 10px;
    }

    .header-btn{
        position: fixed;
        width: 100%;
        bottom: 0px;
        justify-content: center;
        margin-right: 0px;
        background-color: white;
    }

    .banner-section{
        display: none;
    }

    .orderbanner{
        flex-direction: column;
        padding: 10px;
    }

    .category-items{
        flex-basis: 25%;
    }

    .product-section{
        padding: 30px 10px;
    }

    .product-item{
        flex-basis: 25%;
    }

    .footer-mid-row1{
        flex-direction: column;
        padding: 10px;
    }

}

